header {
  text-align: center;
}

header img.Logo {
  width: 100%;
}

header input {
  width: 80%;
  border-color: #ffffff;
  border-radius: 20px;
  background-color: transparent;
  padding: 0 25px;
  font-size: 18px;
  color: #ffffff;
}


@font-face {
  font-family: "Benguiat";
  src: url("/frontend//src//assets/fonts/Benguiat\ Bold.ttf") format("truetype");
}


.Principal {
  background: linear-gradient(#050000, #a30000);
  background-size: cover;
  height: 100%;
}


.elementos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  cursor: pointer;
 margin-bottom: 2em;
}

.elemento {
  border-radius: 20px;
  background: linear-gradient(#050000, #a30000);
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 16em;
}

.elementoImg {
  width: 10em;
  height: 12em;
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 15px;
  margin-top: 5px;
}

.titulo {
  color: #ffffff;
  font-family: 'Benguiat';
  font-size: 1.5em;
  text-align: center;
  height: 4em;
  margin-top: 1em;
}

.categoria {
  background-color: black;
  border-radius: 20px;
  color: white;
  width: 6em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4em;
  background: linear-gradient(#050000, #666666);
  font-family: sans-serif;
  padding-top: 2px;
}

::-webkit-scrollbar {
  width: 3px;
  background-color: #050000;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 5px;
}


footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: #a30000;
  position: fixed;
  bottom: 0;
  height: 8rem;
  background-color: rgba(160,0, 0, 0.9); 
}

footer button {
  cursor: pointer;
  z-index: 1;
  height: 8rem;
  background: none;
  border: none;
}

footer button img {
  height: 100%;
}