body {
  overflow-x: hidden;
  margin: 0;
}

.Principal {
  background: linear-gradient(#050000, #a30000);
  background-size: cover;
  height: auto;
}

.LogoPrincipal {
  width: 999px;
}

.buscador {
  width: 900px;
  padding: 10px;
  margin-left: 50px;
  border-radius: 20px;
  border: 5px solid #ffffff;
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.elementos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 120px;
  padding: 100px;
  overflow-y: auto;
  grid-auto-rows: 35rem;
  cursor: pointer;
}

.elemento {
  border-radius: 20px;
  padding: 20px;
  background: linear-gradient(#050000, #a30000);
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.elementoImg {
  max-width: 100%;
  height: 20rem;
  border-radius: 20px;
}

.elemento h2 {
  min-height: 50px;
  color: #ffffff;
  text-align: center;
  font-size: 40px;
}

.categoria {
  background-color: black;
  border-radius: 20px;
  color: white;
  width: 100px;
  height: 30px;
  text-align: center;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #060000;
  border-radius: 3px;
}

input {
  visibility: hidden;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  height: 350px;
  width: 100%;
  background: linear-gradient(#a30000, #050000);
}

footer button {
  margin: 0 110px;
  cursor: pointer;
}

.botonFunko,
.botonEggo {
  background-color: transparent;
  border: none;
}