.Secundary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(#050000, #a30000);
  background-size: cover;
  height: 100%;
}


.elemento {
  width: 80%;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}


.categoria {
  background-color: black;
  border-radius: 20px;
  color: white;
  width: 6em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3rem;
  margin-bottom: 0.5rem;
  background: linear-gradient(#050000, #666666);
  font-family: sans-serif;
}

.titulo {
  margin-bottom: 20px;
}

.descripcion {
  text-align: justify;
  margin-bottom: 40px;
}


.botonVolver img {
  width: 200px;
  cursor: pointer;
  margin-top: 80px;
}

@media (max-width: 768px) {
  .elemento {
    width: 90%;
  }

  .elementoImagen {
    max-height: 300px;
  }
}